// Base button styles
.btn {
  background-color: rgba(0,0,0,0.05);
  border-radius: 1000px;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  padding: var(--space-3xs) var(--space-xs-s);
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  appearance: none; // Corrects inability to style clickable `input` types in iOS
  text-decoration: none;

  &:hover, &:active, &:focus {
    background-color: rgba(0,0,0,0.1);
  }

  &:disabled,
  &.disabled,
  &[aria-disabled="true"] {
    cursor: default;
  }
}

// TODO: Primary Button

// TODO: Secondary Button

// Full-width button expands to the full width of its parent container
.btn--block {
  display: block;
  width: 100%;
  text-align: center;
}

.btn--small {
  font-size: var(--step--1);
}

details[open] > summary:first-of-type {
  margin-bottom: var(--space-3xs);
}