:root {
    --color-white: #fff;
    --color-black: #101921;
    --color-primary: #0042bf;
    --color-secondary: #bf285b;
    --color-body: #353839;
    --color-yellow-bg: #fff5cc;
    --color-blue-bg: #cce7f5;
}