:root {
  --color-white: #fff;
  --color-black: #101921;
  --color-yellow-bg: #fff5cc;
  --color-blue-bg: #cce7f5;
  --color-blue: #0042bf;
  --color-cyan: #05f0c9;
  --color-purple-50: #f5eaff;
  --color-purple-100: #e0b3ff;
  --color-purple-200: #cc80ff;
  --color-purple-300: #b84dff;
  --color-purple-400: #a319ff;
  --color-purple-500: #650fca;
  --color-purple-600: #520d9e;
  --color-purple-700: #3f0b73;
  --color-purple-800: #2c0947;
  --color-purple-900: #19071c;
  --color-purple-950: #0a040d;
  --color-purple-muted: #623cae;
  --color-purple-light: #a35df4;
  --color-primary: var(--color-purple);
  --color-secondary: var(--color-cyan);
  --color-body: #353839;

  --color-grey-10: #f4f5f6;
  --color-grey-50: #f9fafb;
  --color-grey-100: #f3f4f6;
  --color-grey-200: #e5e7eb;
  --color-grey-300: #d1d5db;
  --color-grey-400: #9ca3af;
  --color-grey-500: #6b7280;
  --color-grey-600: #4b5563;
  --color-grey-700: #374151;
  --color-grey-800: #1f2937;
  --color-grey-900: #111827;
  --color-grey-950: #030712;

  --color-primary: var(--color-purple-500);
}

// Utilities

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}
