details {
  border-top: 1px solid rgba(0,0,0,.15);
  padding: var(--space-xs) 0;
  &:last-child {
    padding-bottom: 0;
  }
  --flow-space: var(--space-3xs-2xs);
    > summary {
      font-size: var(--step--1);
      list-style: none;
      user-select: none;
      .icon {
        margin-right: 0.25em;
      }
      &::-webkit-details-marker {
        display: none;
      }
      &:hover {
        color: var(--hover-color);
        cursor: pointer;
      }
    }
    &[open] {
      // summary:first-of-type {
      //   margin-bottom: var(--space-3xs);
      // }
      .icon {
        transform: rotate(90deg);
      }
    }
  }