details {
  --flow-space: var(--space-3xs-2xs);
    > summary {
      list-style: none;
      .icon {
        margin-right: 0.25em;
      }
      &::-webkit-details-marker {
        display: none;
      }
    }
    &[open] {
      // summary:first-of-type {
      //   margin-bottom: var(--space-3xs);
      // }
      .icon {
        transform: rotate(90deg);
      }
    }
  }