details {
    > summary {
        list-style: none;
        .icon {
            margin-right: .25em;
        }
    }
    > summary::-webkit-details-marker {
        display:none;
      }
    &[open] {
        > summary {
            .icon {
                transform: rotate(90deg);
            }
        }
    }
}