.event {
    border: 1px solid #ddd;
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: var(--space-s-m);
    &__title {
        margin-bottom: .4rem;
        order: 3;
    }
    &__dates {
        // color: var(--color-grey-500);
        font-size: var(--step--1);
    }
    &__delivery {
        display: flex;
        font-size: var(--step--1);
        gap: .5em;
        margin-bottom: 0.5em;
        order: 3;
    }
    &__online {
        white-space: nowrap;
    }
    &__dateStart {
        display: inline-block;
    }
    .event__description-container {
        order: 4;
    }
    &__type {
        background-color: var(--color-primary);
        border-radius: .2em;
        color: #fff;
        display: inline-block;
        line-height: 1;
        padding: .2em .4em;
        text-transform: uppercase;
    }
    &__url {
        display: block;
        margin-top: 8px;
    }
    &__actions {
        margin-top: 1rem;
    }
}

.event--theme {
    background: none;
    border: none;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    padding: 0 var(--space-s-m);
    @media screen and (max-width: 400px) {
        padding: 0;
    }
    .event__title {
        font-size: 1.2rem;
        order: 2;
    }
    .event__dates {
        order: 1;
        font-size: var(--step--1);
    }
    .event__location {
        font-size: var(--step--1);
    }
}

#upcoming {
    padding: var(--space-s-l) 0;
}