.events {
    &--cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-column-gap: 24px;
    grid-row-gap: 24px; 
    }
    &--list .event {
        margin-bottom: 24px;
    }
}

.event {
    background-color: #fff;
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 24px;
    &__title {
        margin-bottom: .4rem;
        order: 3;
    }
    &__dates {
        margin-bottom: .5em;
    }
    &__location {
        display: block;
        order: 2
    }
    &__delivery {
        display: flex;
        gap: .5em;
        margin-bottom: 0.5em;
        order: 1;
    }
    &__dateStart {
        display: inline-block;
        // margin-top: 8px;
    }
    &__description {
        font-size: 1.1rem;
        order: 4;
    }
    &__iaap {
        display: block;
        margin-top: 24px;
        order: 5;
    }
    &__iaaplogo {
        display: inline-block;
        max-height: 1em;
    }
    &__type {
        background-color: var(--color-primary);
        border-radius: .2em;
        color: #fff;
        display: inline-block;
        line-height: 1;
        padding: .2em .4em;
        text-transform: uppercase;
    }
    &__url {
        display: block;
        margin-top: 8px;
    }
    &__actions {
        margin-top: 1rem;
    }
}

.event--theme {
    display: flex;
    flex-direction: column;
    padding: 24px;
    .event__title {
        font-size: 1.2rem;
        order: 2;
    }
    .event__dates {
        order: 1;
    }
}