#filters {
    align-items: center;
    background-color: #fff;
    position: sticky;
    /* use "top" to provide threshold for hitting top of parent */
    top: -1px;
    z-index: 1;
    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .status {
        align-items: center;
        margin-right: var(--space-xs-m);
        display: flex;
        flex-direction: row;
    }
    .filter-option {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &.is-pinned {
        box-shadow: 0 0 0 1px rgba(0,0,0,.08), 0 2px 4px rgba(0,0,0,.08);
    }
    // Hide on small screens
    #filter-reset {
        margin-left: var(--space-xs-m);
        @media (max-width: 500px) {
            display: none;
        }
    }
}

#filter-drawer {
    .actions {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}