#global-footer {
    background: var(--color-primary);
    color: #fff;
    padding: var(--space-m-l) 0;
    a {
        color: inherit;
     }
     .logo {
        margin-bottom: var(--space-m-l);
        max-width: 10rem;
     }
}