.primaryNav {
    background-color: rgba(0,0,0,0.2);
    // Set border radius based on adding 0.5em to the --space-2xs variable
    border-radius: calc(var(--space-2xs) + 0.5em);
    font-size: 1rem;
    padding: var(--space-2xs);
  &__list {
    display: flex;
    flex-wrap: wrap;
  }
  &__list > * + * {
    margin-left: var(--flow-space, var(--space-2xs));
  }
  &__link {
    border-radius: .5em;
    color: var(--color-white);
    display: inline-block;
    font-weight: bold;
    padding: .4em .8em;
    &:link {
        color: var(--color-white);
        text-decoration: none;
    }
    &:visited, &:hover, &:active, &:focus {
        color: var(--color-white);
    }
    &:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }
}
  [aria-current="page"] {
    background-color: var(--color-white);
    color: var(--color-primary);
  }
}
