.primaryNav {
    font-size: 1rem;
  &__list {
    display: flex;
    flex-wrap: wrap;
  }
  &__list > * + * {
    margin-left: var(--flow-space, .5em);
  }
  &__link {
    border-radius: .5em;
    color: var(--color-white);
    display: inline-block;
    font-weight: bold;
    padding: 0.5em .8em;
    &:link {
        color: var(--color-white);
        text-decoration: none;
    }
    &:visited, &:hover, &:active, &:focus {
        color: var(--color-white);
    }
    &:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }
}
  [aria-current="page"] {
    background-color: var(--color-white);
    color: var(--color-primary);
  }
}
