:root {
  --sl-color-primary-50: var(--color-purple-50);
  --sl-color-primary-100: var(--color-purple-100);
  --sl-color-primary-200: var(--color-purple-200);
  --sl-color-primary-300: var(--color-purple-300);
  --sl-color-primary-400: var(--color-purple-400);
  --sl-color-primary-500: var(--color-purple-500);
  --sl-color-primary-600: var(--color-purple-600);
  --sl-color-primary-700: var(--color-purple-700);
  --sl-color-primary-800: var(--color-purple-800);
  --sl-color-primary-900: var(--color-purple-900);
}

sl-badge[variant="success"]::part(base) {
  background-color: var(--sl-color-success-700);
}

.checkbox--medium {
  font-size: var(--step-1);
}

sl-checkbox[size="medium"]::part(label) {
  font-size: var(--step--1);
}
