sl-badge[variant="success"]::part(base) {
  background-color: var(--sl-color-success-700);
}

.checkbox--medium {
  font-size: var(--step-1);
}

sl-checkbox[size="medium"]::part(label) {
  font-size: var(--step--1);
}