#today {
  --hover-color: var(--color-secondary);
  background-color: #f7f7f7;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  color: var(--color-body-text);
  padding: var(--space-s-l) 0;
  .event {
    &--theme {
      background-color: transparent;
      color: var(--color-body);
      padding: 0;
    }
  }
}
