#today {
  --hover-color: var(--color-secondary);
  background-color: var(--color-primary);
  color: #fff;
  padding: var(--space-s-l) 0;
  a {
    color: #fff;
    transition: all 0.1s ease-in-out;
    &:hover,
    &:active,
    &:focus {
      color: var(--hover-color);
    }
  }
  .event {
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    &--theme {
      background-color: transparent;
      color: #fff;
      padding: 0;
    }
  }
}
