#today {
    background-color: var(--color-primary);
    color: #fff;
    padding: var(--space-s-l) 0;
    a:link, a:visited {
        color: inherit;
    }
    .event.event--theme {
        color: #fff;
        padding: 0;
        a:link, a:visited {
            color: inherit;
        }
    }
    .event {
        border: none;
        color: var(--color-body);
        a:link, a:visited {
            color: var(--color-primary);
        }
    }
}