.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.flow > *:not(legend) + * {
  margin-block-start: var(--flow-space, 1em);
}

.flow-tight {
  --flow-space: var(--space-3xs-2xs);
}

.flow-s {
  --flow-space: var(--space-3xs);
}

.content {
  display: flex;
  flex-direction: column;
  padding: var(--space-xs-m);
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.d-flex {
  display: flex;
}