@import 'reset';
@import 'variables';
@import 'color';
@import 'typo';
@import 'buttons';
@import 'utilities';
@import 'masthead';
@import 'events';
@import 'today';
@import 'footer';

.container {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 var(--space-s-l);
    &.readable {
        max-width: 52rem;
    }
}

body {
    background-color: var(--color-primary);
    line-height: 1.5;
    margin: 0;
}

main {
    background-color: #F2F8FF;
    padding: var(--space-s-l) 0;
}


