@import 'reset';
@import 'variables';
@import 'shoelace';
@import 'color';
@import 'typo';
@import 'buttons';
@import 'disclosure';
@import 'utilities';
@import 'masthead';
@import 'events';
@import 'today';
@import 'footer';

.container {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 var(--space-xs-m);
    &.readable {
        max-width: 55rem;
    }
}

body {
    background-color: var(--color-white);
    line-height: 1.5;
    margin: 0;
}

main {
    background-color: var(--color-primary);
}

#upcoming {
    background-color: #fff;
}

*:focus {
    outline-offset: 0.1em;
}