<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Eleventy">
    <meta name="description" content="Calendar of digital accessibility events.">
    <meta name="keywords" content="accessibility, a11y, events, calendar">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Matt Obee">
    <meta name="theme-color" content="#650fca"/>
    <title>{{ title }}</title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png">
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png">
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.11.2/cdn/themes/light.css" />
    <link rel="stylesheet" href="/styles/styles.css">
    <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.11.2/cdn/shoelace-autoloader.js"></script>
    <script
      defer
      src="https://kit.fontawesome.com/6fc2948f48.js"
      crossorigin="anonymous"></script>
    <script src="/scripts/main.js" defer></script>
  </head>
  <body class="page--{% if page.fileSlug %}{{ page.fileSlug }}{% else %}home{% endif %} layout--{{ layout }}">
    <header
      id="global-header"
      class="masthead"
      role="banner">
      <div class="container readable">
        <div class="content">
          <a href="/"><img
            class="logo"
            src="/images/eventua11y_logo_wordmark_white.svg"
            alt="Eventua11y"></a>
        </div>
      </div>
    </header>

    <main>
      {{ content }}
    </main>

    {% include "_includes/footer.liquid" %}

  </body>
</html>