<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles/styles.css">
  </head>
  <body>
    <header role="banner">
        <div class="container">
            Eventua11y
        </div>
    </header>
    <main>
        {{ content | safe }}
    </main>
    <footer role="contentinfo">
        <div class="container">
            <p><small>Built with <a href="https://www.11ty.dev">Eleventy</a>, hosted by <a href="https://netlify.com">Netlify</a></small></p>
        </div>
    </footer>
    <script src="/assets/main.js"></script>
  </body>
</html>