<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <script src="https://kit.fontawesome.com/6fc2948f48.js" crossorigin="anonymous"></script>
  </head>
  <body class="page--{% if page.fileSlug %}{{ page.fileSlug }}{% else %}home{% endif %} layout--{{ layout }}">
    <header id="global-header" class="masthead" role="banner">
        <div class="container">
            <img calss="logo" src="/images/eventua11y_logo_wordmark.svg" alt="Eventua11y">
        </div>
    </header>
    <main>
        {{ content | safe }}
    </main>
    <footer id="global-footer" role="contentinfo">
      <div class="container">
        <p><small>&copy 2022-2023 <a href="https://mattobee.com/">Matt Obee</a></small></p>
        <p><small>This page conforms to <abbr title="Web Content Accessibility Guidelines">WCAG</abbr> 2.1 at Level <abbr title="Double-A">AA</abbr>.</small></p>
        <p><small>Powered by <a href="https://www.11ty.dev/">Eleventy</a>, <a href="https://www.netlify.com/">Netlify</a>, and <a href="https://github.com/mattobee/eventua11y">GitHub</a>. Basic accessibility tests by <a href="https://github.com/pa11y/pa11y">pa11y</a>/<a href="https://github.com/dequelabs/axe-core">axe-core</a>.</small></p>
      </div>
    </footer>
    <script src="/assets/main.js"></script>
  </body>
</html>