<article itemprop="subEvent" itemscope itemtype="https://schema.org/Event">
  <span itemprop="name">
    {child.website ? <a href={child.website}>{child.title}</a> : child.title}
  </span>
</article>
