---
let { event } = Astro.props;
---

<span class="event__dates text-muted text-small">
    <span class="event__dateStart">
        <span class="sr-only">Starts</span>
        {event.day ? (
            <time datetime={new Date(event.dateStart).toISOString()} itemprop="startDate">
                {new Date(event.dateStart).toLocaleDateString(undefined, { month: 'long', day: 'numeric' })}
            </time>
        ) : (
            <time datetime={new Date(event.dateStart).toISOString()} itemprop="startDate">
                {new Date(event.dateStart).toLocaleDateString(undefined, { month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric' })}
                <abbr title={new Date(event.dateStart).toLocaleTimeString(undefined, { timeZoneName: 'long' })}>
                    {new Date(event.dateStart).toLocaleTimeString(undefined, { timeZoneName: 'short' })}
                </abbr>
            </time>
        )}
    </span>
    {event.dateEnd && (
        <span class="event__dateEnd">
            <span class="sr-only">Ends</span>
            <i class="fa-solid fa-arrow-right-long"></i>
            {event.day ? (
                <time datetime={new Date(event.dateEnd).toISOString()} itemprop="endDate">
                    {new Date(event.dateEnd).toLocaleDateString(undefined, { month: 'long', day: 'numeric' })}
                </time>
            ) : (
                <time datetime={new Date(event.dateEnd).toISOString()} itemprop="endDate">
                    {new Date(event.dateEnd).toLocaleDateString(undefined, { month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric' })}
                    <abbr title={new Date(event.dateEnd).toLocaleTimeString(undefined, { timeZoneName: 'long' })}>
                        {new Date(event.dateEnd).toLocaleTimeString(undefined, { timeZoneName: 'short' })}
                    </abbr>
                </time>
            )}
        </span>
    )}
</span>
<!-- End dates -->