---
import dayjs from "dayjs";
let { event } = Astro.props;
---

<span class="event__dates">
    <span class="event__dateStart">
        <span class="sr-only">Starts</span>
        {event.day ? (
            <time datetime={dayjs(event.dateStart).toISOString()} itemprop="startDate">
                {dayjs(event.dateStart).format('MMMM D')}
            </time>
        ) : (
            <time datetime={dayjs(event.dateStart).toISOString()} itemprop="startDate">
                {dayjs(event.dateStart).format('MMMM D, h:mm')}
                <abbr title={dayjs(event.dateStart).format('z')}>
                    {dayjs(event.dateStart).format('z')}
                </abbr>
            </time>
        )}
    </span>
    {event.dateEnd && (
        <span class="event__dateEnd">
            <span class="sr-only">Ends</span>
            <i class="fa-solid fa-arrow-right-long"></i>
            {event.day ? (
                <time datetime={dayjs(event.dateEnd).toISOString()} itemprop="endDate">
                    {dayjs(event.dateEnd).format('MMMM D')}
                </time>
            ) : (
                <time datetime={dayjs(event.dateEnd).toISOString()} itemprop="endDate">
                    {dayjs(event.dateEnd).format('MMMM D, h:mm')}
                    <abbr title={dayjs(event.dateEnd).format('z')}>
                        {dayjs(event.dateEnd).format('z')}
                    </abbr>
                </time>
            )}
        </span>
    )}
</span>