---
let { attendanceMode, location } = Astro.props;
---

<div class="event__delivery">
  <span class="sr-only">Location:</span>
  {
    attendanceMode === "online" && (
      <span
        class="event__online"
        itemprop="eventAttendanceMode"
        content="https://schema.org/OnlineEventAttendanceMode"
      >
        <i class="fa-solid fa-laptop" />
        Online
      </span>
    )
  }
  {
    attendanceMode === "offline" && (
      <span
        class="event__location"
        itemprop="eventAttendanceMode"
        content="https://schema.org/OfflineEventAttendanceMode"
      >
        <i class="fa-solid fa-fw fa-location-dot" />
        <span itemprop="location" itemscope itemtype="https://schema.org/Place">
          {location || "International"}
        </span>
      </span>
    )
  }
  {
    attendanceMode === "mixed" && (
      <div
        itemprop="eventAttendanceMode"
        content="https://schema.org/MixedEventAttendanceMode"
      >
        <span class="event__location">
          <i class="fa-solid fa-fw fa-location-dot" />
          <span
            itemprop="location"
            itemscope
            itemtype="https://schema.org/Place"
          >
            {location || "International"}
          </span>
        </span>
        <span class="text-muted">and</span>
        <span class="event__online">
          <i class="fa-solid fa-laptop" />
          Online
        </span>
      </div>
    )
  }
</div>
<!-- End delivery -->
