---
import dayjs from "dayjs";
let { event } = Astro.props;

// Helper function to format date and time
function formatDate(date, format) {
  return dayjs(date).format(format);
}
---

<span class="event__dates">
    <span class="event__dateStart">
        <span class="sr-only">Starts</span>
        <time datetime={formatDate(event.dateStart, 'YYYY-MM-DDTHH:mm:ssZ')} itemprop="startDate">
            {formatDate(event.dateStart, event.day ? 'MMMM D' : 'MMMM D, h:mm')}
            {!event.day && <abbr title={formatDate(event.dateStart, 'z')}>{formatDate(event.dateStart, 'z')}</abbr>}
        </time>
    </span>
    {event.dateEnd && (
        <span class="event__dateEnd">
            <span class="sr-only">Ends</span>
            <i class="fa-solid fa-arrow-right-long"></i>
            <time datetime={formatDate(event.dateEnd, 'YYYY-MM-DDTHH:mm:ssZ')} itemprop="endDate">
                {formatDate(event.dateEnd, event.day ? 'MMMM D' : 'MMMM D, h:mm')}
                {!event.day && <abbr title={formatDate(event.dateEnd, 'z')}>{formatDate(event.dateEnd, 'z')}</abbr>}
            </time>
        </span>
    )}
</span>