<footer id="global-footer" role="contentinfo">
    <div class="container readable">
        <ul role="list" class="social flex gap">
        <li>
            <a
            class="button"
            itemprop="sameAs"
            rel="me"
            href="https://github.com/mattobee/eventua11y"
            title="GitHub">
            <i class="fab fa-github"></i>
            </a>
        </li>
        <li>
            <a
            class="button"
            itemprop="sameAs"
            rel="me"
            href="https://mastodon.social/@eventua11y"
            title="Mastodon">
            <i class="fab fa-mastodon"></i>
            </a>
        </li>
        </ul>
        <p class="text-muted">
        <small>&copy 2022–{new Date().getFullYear()}
            <a href="https://mattobee.com/">Matt Obee</a>
        </small>
        </p>
        <p class="text-muted">
        <small>This page conforms to
            <abbr title="Web Content Accessibility Guidelines">WCAG</abbr>
            2.2 at Level
            <abbr title="Double-A">AA</abbr>.</small>
        </p>
        <p class="text-muted">
        <small>Powered by
            <a href="https://astro.build/">Astro</a>,
            <a href="https://www.sanity.io/">Sanity</a>,  
            and
            <a href="https://www.netlify.com/">Netlify</a>. Basic accessibility tests by
            <a href="https://github.com/pa11y/pa11y">pa11y</a>/<a href="https://github.com/dequelabs/axe-core">axe-core</a>.</small>
        </p>
        <p class="text-muted">
        <small>
            Privacy-focused analytics by
            <a href="https://usefathom.com/ref/VZYIPT">Fathom</a>.
        </small>
        </p>
    </div>
</footer>
<!-- End #global-footer -->