---
import { Image } from 'astro:assets';
import logo from '../images/eventua11y_logo_wordmark_white.svg';
---

<header id="global-header" class="masthead" role="banner">
  <div class="inner">
    <div class="masthead__logo">
      <a href="/" rel="home">
        <Image class="logo" src={logo} alt="Eventua11y" />
      </a>
    </div>
  </div>
</header>
<!-- End #global-header -->