---
import Event from '../components/Event.astro'
---
<section id="today">
  <div class="container readable flow">
    <hgroup class="content py-0" role="group" aria-roledescription="Heading group">
      <h2>Today</h2>
      <p aria-roledescription="subtitle">
        <time class="text-muted" datetime="today">today</time>
      </p>
    </hgroup>

    <!-- if there are no events today -->
    <p class="content">Take it easy, there are no events today.</p>

    <!-- if there are events today -->
    <div class="events flow">
        <Event title="Test" />
        <!-- TODO: add list of events -->
    </div>

  </div>
</section>
<!-- end #today -->
