---
import Event from '../components/Event.astro';
import getEvents from '../getEvents.js';
const events = await getEvents();
const futureEvents = events.future();
---

<!-- If there are no upcoming events -->
{futureEvents.length === 0 && (
  <p>No upcoming events</p>
)}

<!-- If there are upcoming events -->
{futureEvents.length > 0 && (
  <ul role="list" class="flow">
    {futureEvents.map((event) => (
      event && <li key={event._id}>
        <!--<pre>{JSON.stringify(event, null, 2)}</pre> -->
        <Event event={event} />
      </li>
    ))}
  </ul>
)}