---
title: Eventua11y
layout: layouts/base.liquid
---

<h1 class="sr-only">Accessibility Events</h1>

{% include "today", events: events %}

<div class="container readable">

  <section id="upcoming">
    <h2>Upcoming Events</h2>
    <div class="events events--list stack">
      {% assign upcomingEvents = events | upcomingEvents | sort: 'dateStart' %}
      {% for event in upcomingEvents %}
        {%- if event.type == "Theme Day" %}
          {% include "themeday" event: event %}
        {% else %}
          {% include "event" event: event %}
        {% endif %}
      {% endfor %}
    </div>
    <!-- End .events -->
  </section>
  <!-- End .upcoming -->

</div>
<!-- End container -->